/**
 * Top Navigation Bar / Header
 * Status: TODO
 */

/* Navbar styling */
.navbar {
	/* TODO: Add navbar styles */
}

/* Search bar */
.navbar-search {
	/* TODO: Add search bar styles */
}

/* User menu dropdown */
.user-menu {
	/* TODO: Add user menu styles */
}

/* Notifications icon */
.notification-icon {
	/* TODO: Add notification icon styles */
}

/* Breadcrumbs */
.breadcrumbs {
	/* TODO: Add breadcrumb styles */
}

/* Page title/header */
.page-title {
	/* TODO: Add page title styles */
}

