/**
 * Main SCSS File - Component-Based Design System
 * Imports all component stylesheets
 */

// Core
@import 'variables';
@import 'mixins';

// Components
@import '02-global';
@import '03-sidebar';
@import '04-layout';
@import '05-header';
@import '06-buttons';
@import '07-forms';
@import '08-tables';
@import '09-cards';
@import '10-modals';
@import '11-badges-alerts';
@import '12-scrollbar';
@import '13-utilities';
@import '14-responsive';

