/**
 * Filters / Search
 * Status: TODO
 */

/* Filter bar */
.filter-bar {
	/* TODO: Add filter bar styles */
}

/* Search inputs */
.search-input {
	/* TODO: Add search input styles */
}

/* Filter tags */
.filter-tag {
	/* TODO: Add filter tag styles */
}

/* Clear filters */
.clear-filters {
	/* TODO: Add clear filter styles */
}

