/**
 * Progress Indicators
 * Status: TODO
 */

/* Loading spinners */
.spinner,
.loading-spinner {
	/* TODO: Add spinner styles */
}

/* Progress bars */
.progress-bar {
	/* TODO: Add progress bar styles */
}

/* Skeleton loaders */
.skeleton-loader {
	/* TODO: Add skeleton loader styles */
}

