/**
 * Typography
 * Status: TODO
 */

/* Headings */
h1, h2, h3, h4, h5, h6 {
	/* TODO: Add heading styles */
}

/* Body text */
body,
p {
	/* TODO: Add body text styles */
}

/* Links */
a,
.link {
	/* TODO: Add link styles */
}

/* Code blocks */
code,
pre {
	/* TODO: Add code block styles */
}

