/**
 * Modals / Dialogs
 * Status: TODO
 */

/* Modal backdrop */
.modal-backdrop {
	/* TODO: Add modal backdrop styles */
}

/* Modal header */
.modal-header {
	/* TODO: Add modal header styles */
}

/* Modal body */
.modal-body {
	/* TODO: Add modal body styles */
}

/* Modal footer */
.modal-footer {
	/* TODO: Add modal footer styles */
}

/* Close buttons */
.modal-close,
.btn-close {
	/* TODO: Add close button styles */
}

