/**
 * Dropdowns / Menus
 * Status: TODO
 */

/* Dropdown menus */
.dropdown-menu {
	/* TODO: Add dropdown menu styles */
}

/* Context menus */
.context-menu {
	/* TODO: Add context menu styles */
}

/* Menu items */
.menu-item,
.dropdown-item {
	/* TODO: Add menu item styles */
}

/* Menu separators */
.menu-separator,
.dropdown-divider {
	/* TODO: Add menu separator styles */
}

